In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('heart.csv')
df.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
#as last variable is dependent variable we are storing values except that value in the x
x=df.iloc[:, : -1]
y=df.iloc[:, -1]

In [5]:
x.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [6]:
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: output, Length: 303, dtype: int64

In [8]:
y.value_counts()

1    165
0    138
Name: output, dtype: int64

In [16]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=4)

In [12]:
model=DecisionTreeClassifier()
model.fit(x_train,y_train)
result=model.score(x_test,y_test)
print(result)

0.7868852459016393

In [14]:
from sklearn.model_selection import KFold
import numpy as np
from sklearn.model_selection import cross_val_score

In [19]:
model=DecisionTreeClassifier()
kfold_validation=KFold(10)
results=cross_val_score(model,x,y,cv=kfold_validation)
print(results)
print(np.mean(results)*100)
print(np.std(results)*100)

[0.67741935 0.90322581 0.77419355 0.6        0.73333333 0.83333333
 0.8        0.73333333 0.56666667 0.56666667]
71.88172043010752
10.923826268508142

In [20]:
from sklearn.model_selection import StratifiedKFold

In [23]:
skfold=StratifiedKFold(n_splits=10)
model=DecisionTreeClassifier()
results=cross_val_score(model,x,y,cv=skfold)
print(np.mean(results)*100)
print(np.std(results)*100)

75.87096774193549
5.063637117517671

In [25]:
from sklearn.model_selection import LeaveOneOut

In [27]:
model=DecisionTreeClassifier()
leave=LeaveOneOut()
results=cross_val_score(model,x,y,cv=leave)
results

array([1., 1., 1., 1., 0., 1., 0., 1., 0., 1., 1., 1., 1., 1., 1., 1., 0.,
       1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 0., 0., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 0., 1.,
       1., 1., 0., 1., 1., 1., 1., 1., 0., 1., 1., 0., 1., 1., 0., 0., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 0., 1., 1., 1., 1.,
       0., 0., 1., 1., 0., 1., 1., 1., 0., 1., 0., 0., 1., 1., 0., 1., 1.,
       1., 0., 1., 1., 0., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1.,
       1., 1., 0., 0., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 0.,
       1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       0., 0., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1.,
       1., 0., 1., 1., 1., 1., 1., 0., 1., 0., 1., 1., 1., 1., 1., 1., 0.,
       1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 0., 1., 1., 1., 1.,
       0., 1., 1., 1., 1., 1., 1., 0., 1., 0., 1., 0., 1., 1., 1., 1., 1.,
       1., 1., 1., 0., 0., 1., 1., 1., 1., 1., 1., 0., 0., 1., 1., 1., 1.,
       0., 0., 1., 1., 1., 1., 0., 1., 0., 0., 1., 0., 1., 1., 1., 1., 1.,
       0., 1., 1., 1., 0., 1., 1., 1., 1., 0., 0., 1., 1., 0.])

In [28]:
print(np.mean(results)*100)
print(np.std(results)*100)

79.53795379537954
40.342400592701765

In [29]:
from sklearn.model_selection import ShuffleSplit

In [31]:
model=DecisionTreeClassifier()
ssplit=ShuffleSplit(n_splits=10,test_size=0.30)
results=cross_val_score(model,x,y,cv=ssplit)

In [32]:
results

array([0.7032967 , 0.76923077, 0.71428571, 0.8021978 , 0.72527473,
       0.76923077, 0.72527473, 0.69230769, 0.73626374, 0.73626374])

In [33]:
print(np.mean(results)*100)
print(np.std(results)*100)

73.73626373626374
3.201934567985379